.project-content__main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3.6rem;
    padding: 0 2.3rem 0 2.6rem;
    & > div{
        width: 100%;
        display: flex;
        padding: 3.2rem 0;
        flex-direction: column;

        &:nth-child(2){
            & .header img{
                width: 1.9rem;
                height: 1.9rem;
            };
        }

        & .header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            padding-bottom: 1.6rem;
            font-family: "Gt-Whelshime", sans-serif;

            &::after{
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                height: 2px;
                width: 100%;
                border-radius: 7px;
            }

            & .header-left{
                display: flex;
                align-items: center;
                gap: .8rem;
                font-size: 1.4rem;
                & img:nth-child(1){
                    transform: translateY(-1px);
                }
                & h5:nth-child(2){
                    font-weight: 700;
                    font-size: 1.4rem;
                    color:var(--task-heading-color);
                    
                }
                & h6:nth-child(3){
                    font-weight: 700;
                    font-size: 1.2rem;
                    border: 1px solid var(--task-count-border);
                    background: var(--task-count-bg);
                    border-radius: 8px;
                    margin-left: .4rem;
                    color:var(--task-heading-color);
                    width: 2.8rem;
                    height: 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0px 8px;
                }
                & img{
                    width: 1.75rem;
                    height: 1.75rem;
                }
            }
            & .header-right{
                display: flex;
                align-items: center;
                gap: 1rem;
            }
        }
    }
}