@import url("./scss/root-variables.scss");
@import url("./scss/buttons.scss");
@import url("./scss/helpers.scss");
@import url("./scss/icon-helper.scss");
@import url("./scss/scroll-bar.scss");


@font-face {
  font-family: Gt-Whelshime;
  src: url("/assets/Font/GT-Walsheim-Medium-Trial.woff2");
}
@font-face {
  font-family:Gt-Whelshime-Light;
  src: url('/assets/Font/GT-Walsheim-Regular-Trial.woff2');
}
@font-face {
  font-family:Gt-Whelshime-Thin;
  src: url('/assets/Font/GT-Walsheim-Condensed-Thin-Trial.woff2');
}

html {
  font-size: 62.5%;
  box-sizing: border-box;


  @media (max-width: 75em) {
    font-size: 56.25%;
  }

  @media (max-width: 56.25em) {
    font-size: 50%;
  }

  @media (max-width: 37.5em) {
    font-size: 43.75%;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {

  font-family: "Gt-Whelshime", sans-serif;
  font-weight: 400;
  position: relative;
  padding: var(--body-padding);
  background: linear-gradient(to bottom, #5a1c90 0%, rgb(136, 0, 255) 100%);;
  // background: var(--gradient-primary);
  

  @media (max-width: 1200px) {
    padding: 0;
  }
}


.kanban-board{
  width: 100%;
  height: calc(100vh - var(--body-padding) * 2);
  box-shadow: 0rem 0rem 2rem rgba(0,0,0,.2);
  border-radius: var(--br-md);
  overflow: hidden;
  background-color: white;
  display: grid;
  grid-template-columns: [side-navbar-start].5fr[side-navbar-end sub-menu-start] 2.1fr [sub-menu-end main-container-start] 7.4fr [main-container-end];
}